@@include('../../inc-header.html', {"title": "卡片管理"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 卡片管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">卡片管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row" style="margin-bottom:20px ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <input type="text" class="form-control" id="searchCont" autocomplete="off" style="width:60%">
                            <button class="btn btn-secondary" type="button" id="selectsearchlabel">文章标题</button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item searchlabel" href="#">文章标题</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <div id="search" class="btn btn-primary" style="outline:none">提交搜索</div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <button id="batchImport" class="btn btn-success" style="outline:none">批量导入</button>
                        </div>
                        <div class="btn-group" style="float:right">
                            <button id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="outline:none;margin-left: 3px">新增</button>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="table-responsive" style="min-height: 300px">
                        <table class="table table-hover table-bordered" id="sampleTable"></table>
                        <div id="visaPagination" class="d-flex justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 批量上传模板 -->
<script id="batchImportModal" type="text/html">
    <form id="importExcelForm" disabled="true">
        <div class="form-row" style="margin-bottom: 15px">
            <div class="col-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">卡片格式</span>
                    </div>
                    <select name="type" class="form-control">
                        <option value="">请选择</option>
                        <option value="2">图文</option>
                        <option value="3">视频</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row message" style="margin-bottom: 15px;color:red;line-height: 37px;font-size: 15px"></div>
        <!--<div class="form-row" style="margin-bottom: 15px">-->
            <!--<div class="col-12">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<span style="width: 80px;">关联标签：</span>-->
                    <!--</div>-->
                    <!--<input type="hidden" name="tag_ids">-->
                    <!--<% for(var i=0;i< labelArr.length;i++){ %>-->
                    <!--<div class="custom-control custom-checkbox custom-control-inline" style="padding-left: 0;margin-right: 25px">-->
                        <!--<input data-operate="checkProvince" type="checkbox" id="tag_<%= i %>" name="tag" class="custom-control-input checkboxItem" value="<%= labelArr[i].id %>">-->
                        <!--<label style="width: 100%;margin-left: 20px" class="custom-control-label" for="tag_<%= i %>"><%= labelArr[i].name %></label>-->
                    <!--</div>-->
                    <!--<% } %>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-row uploadFileBatchDiv" style="margin-bottom: 15px">
            <div class="col-7">
                <div class="input-group">
                    <span style="margin-top:6px;margin-right: 10px">上传文件</span>
                    <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="file" class="uploadFileBatch d-none">选择文件</label>
                    <!--<button type="button" class="btn btn-default avatarUploadBatch" disabled>上传文件</button>-->
                </div>
            </div>
        </div>
        <div class="form-row" style="margin-bottom: 15px">
            <div class="col-12">
                <div class="input-group">
                    <h6 class="imgUrl"></h6>
                </div>
            </div>
        </div>
    </form>
</script>
<!-- 列表模板 -->
<script id="visaListItem" type="text/html">
    <thead>
    <tr>
        <th>ID</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= typeText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropType" id="dropTypeOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">纯文字</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">图文</a>
                    <a class="dropdown-item" href="javascript:" data-id="3">视频</a>
                </div>
            </div>
        </th>
        <th style="width:15%;word-wrap: break-word;word-break:break-all;">文章标题</th>
        <!--<th>图片格式</th>-->
        <!--<th>图片</th>-->
        <th>内容</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropTag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= tagText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropTag" id="dropTagOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <% for(var i=0;i< labelArr.length;i++){ %>
                    <a class="dropdown-item" href="javascript:" data-id="<%= labelArr[i].id %>"><%= labelArr[i].name %></a>
                    <% } %>
                </div>
            </div>
        </th>
        <!--<th style="width:12%;word-wrap: break-word;word-break:break-all;">商品链接地址</th>-->
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= readText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropRead" id="dropReadOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropFavorite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= favoriteText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropFavorite" id="dropFavoriteOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropPraise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= praiseText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropPraise" id="dropPraiseOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= statusText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownVisaStatus" id="dropStatusOptions">
                <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                <a class="dropdown-item" href="javascript:" data-id="1">有效</a>
                <a class="dropdown-item" href="javascript:" data-id="-1">无效</a>
                </div>
            </div>
        </th>
        <th>录入人</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (list.length > 0) { %>
    <% for (var i = 0; i < list.length; i++) { %>
    <tr data-id="<%= list[i].id %>">
        <td><%= list[i].id %></td>
        <td><%- list[i].typeText %></td>
        <td style="width:15%;word-wrap: break-word;word-break:break-all;">
            <div style="margin-bottom: 5px"><%= list[i].title %></div>
            <div>
                <a href="<%= list[i].video_url %>" target="_blank" style="text-decoration: underline"><%= list[i].video_url %></a>
            </div>
        </td>
        <!--<td><% if(list[i].img_type!="" && list[i].img_type!=null){ %><%- list[i].imageTypeText %><% } %></td>-->
        <!--<td>-->
            <!--<% if(list[i].img_url){ %>-->
            <!--<a target="_blank" href="<%= list[i].img_url %>">-->
                <!--<img src="<%= list[i].img_url %>" style="display: inline-block;width:100px;height: 50px">-->
            <!--</a>-->
            <!--<% }else{ %>-->
            <!--<span style="color: red">暂无图片</span>-->
            <!--<% } %>-->
        <!--</td>-->
        <td>
            <% if(list[i].type==1){ %>
            <% if(list[i].content){ %>
            <span style="text-decoration: underline;color:#009688;cursor: pointer" data-content="<%= list[i].content %>" data-operate="preview">预览文字</span>
            <% } %>
            <% }else if(list[i].type==2){ %>
            <% if(list[i].graphic){ %>
            <span style="text-decoration: underline;color:#009688;cursor: pointer" data-content="<%= list[i].graphic %>" data-operate="preview">预览图文</span>
            <% } %>
            <% } %>
        </td>
        <td>
            <% if(list[i].tags.length>0){ %>
            <% for(var j=0;j< list[i].tags.length;j++){ %>
            <div style="margin-bottom: 5px"><%= list[i].tags[j].name %></div>
            <% } %>
            <% } %>
        </td>
        <!--<td style="width:12%;word-wrap: break-word;word-break:break-all;"><%= list[i].goods_url %></td>-->
        <td><%= list[i].read %></td>
        <td><%= list[i].favorite %></td>
        <td><%= list[i].praise %></td>
        <td><%- list[i].statusText %></td>
        <td>
            <% if(list[i].admin){ %>
            <%= list[i].admin.realName %>
            <% } %>
        </td>
        <td>
            <div class="d-flex flex-wrap justify-content-center">
                <%- list[i].materialButtonGroup %>
            </div>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
        <td colspan="11">没有符合条件的记录</td>
    </tr>
    <% } %>
    </tbody>
</script>
<!--Modal新增,编辑，查看主播-->
<script id="modalDiv" type="text/html">
    <form id="visaPassportForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">

            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">卡片格式</span>
                        </div>
                        <select name="type" class="form-control" required>
                            <option value="">请选择</option>
                            <option value="1" <% if(dataArr.type==1){ %> selected <% } %>>纯文字</option>
                            <option value="2" <% if(dataArr.type==2){ %> selected <% } %>>图文</option>
                            <option value="3" <% if(dataArr.type==3){ %> selected <% } %>>视频</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">卡片状态</span>
                        </div>
                        <select name="status" class="form-control" required>
                            <option value="">请选择</option>
                            <option value="1"  <% if(dataArr.status==1){ %> selected <% } %>>有效</option>
                            <option value="-1" <% if(dataArr.status==-1){ %> selected <% } %>>无效</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">文章标题</span>
                        </div>
                        <input type="text" name="title" placeholder="请输入文章标题" value="<%= dataArr.title %>" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">作者</span>
                        </div>
                        <input type="text" name="author" placeholder="请输入作者" value="<%= dataArr.author %>" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">发布时间</span>
                        </div>
                        <input readonly autocomplete="off" type="text" name="release_time" onclick="laydate({istime: false, format: 'YYYY-MM-DD hh:mm:ss'})"  placeholder="请输入发布时间" value="<%= dataArr.release_time %>" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12" style="margin-bottom: 20px;padding-right: 20px">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span style="width: 80px;">关联标签：</span>
                        </div>
                        <input type="hidden" name="tag_ids">
                        <% for(var i=0;i< labelArr.length;i++){ %>
                        <% if(dataArr.tag_ids.indexOf(labelArr[i].id)!="-1"){ %>
                        <div class="custom-control custom-checkbox custom-control-inline" style="padding-left: 0;margin-right: 25px">
                            <input data-operate="checkProvince" type="checkbox" id="tag_<%= i %>" name="tag" class="custom-control-input checkboxItem" value="<%= labelArr[i].id %>" checked>
                            <label style="width: 100%;margin-left: 20px" class="custom-control-label" for="tag_<%= i %>"><%= labelArr[i].name %></label>
                        </div>
                        <% }else{ %>
                        <div class="custom-control custom-checkbox custom-control-inline" style="padding-left: 0;margin-right: 25px">
                            <input data-operate="checkProvince" type="checkbox" id="tag_<%= i %>" name="tag" class="custom-control-input checkboxItem" value="<%= labelArr[i].id %>">
                            <label style="width: 100%;margin-left: 20px" class="custom-control-label" for="tag_<%= i %>"><%= labelArr[i].name %></label>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <!--<div class="form-row type2" <% if(dataArr.type==2){ %> style="margin-bottom: 15px;display: block" <% }else{ %> style="margin-bottom: 15px;display: none" <% } %>>-->
                <!--<div class="col-6">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">图片格式</span>-->
                        <!--</div>-->
                        <!--<select name="img_type" class="form-control">-->
                            <!--<option value="">请选择</option>-->
                            <!--<option value="1" <% if(dataArr.img_type==1){ %> selected <% } %>>横板</option>-->
                            <!--<option value="2" <% if(dataArr.img_type==2){ %> selected <% } %>>竖版</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-row uploadFile type2" <% if(dataArr.type==2){ %> style="margin-bottom: 15px;display: block;height:37px" <% }else{ %> style="margin-bottom: 15px;display: none;height:37px" <% } %>>-->
                <!--<div class="col-5" style="float: left">-->
                    <!--<div class="input-group">-->
                        <!--<span style="margin-top:6px;margin-right: 10px">上传图片</span>-->
                        <!--<label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="avatar1" class="uploadImg d-none">选择图片文件</label>-->
                        <!--<button type="button" class="btn btn-default avatarUpload" disabled>上传文件</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-7" style="float: left">-->
                    <!--<div class="input-group">-->
                        <!--<% if (dataArr.img_url) { %>-->
                        <!--<h6 class="imgUrl">-->
                            <!--<a target='_blank' href='<%= dataArr.img_url %>'>-->
                                <!--<img src="<%= dataArr.img_url %>" style="display: inline-block;width:100px;height: 33px;">-->
                            <!--</a>-->
                        <!--</h6>-->
                        <!--<% } else { %>-->
                        <!--<h6 style="margin-top: 9px" class="imgUrl"><span style="color:red">暂无图片</span></h6>-->
                        <!--<% } %>-->
                        <!--<input type="hidden" name="img_url" value="<%= dataArr.img_url %>">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-row type2" <% if(dataArr.type==2){ %> style="margin-bottom: 15px;display: block" <% }else{ %> style="margin-bottom: 15px;display: none" <% } %>>
                <div class="col-12">
                    <div id="editor" class="editorDiv"></div>
                    <input type="hidden" name="graphic" value="<%= dataArr.graphic %>">
                </div>
            </div>
            <div class="form-row type1" <% if(dataArr.type==1){ %> style="margin-bottom: 15px;display: block" <% }else{ %> style="margin-bottom: 15px;display: none" <% } %>>
                <div class="col-12">
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">文字内容</span>-->
                        <!--</div>-->
                        <!--<textarea style="resize:vertical;min-height: 70px" class="form-control" name="content"><%= dataArr.content %></textarea>-->
                    <!--</div>-->
                    <div id="editor1" class="editorDiv1"></div>
                    <input type="hidden" name="content" value="<%= dataArr.content %>">
                </div>
            </div>
            <div class="form-row type3" <% if(dataArr.type==3){ %> style="margin-bottom: 15px;display: block" <% }else{ %> style="margin-bottom: 15px;display: none" <% } %>>
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">视频链接地址</span>
                        </div>
                        <input type="text" name="video_url" placeholder="请输入视频链接地址" value="<%= dataArr.video_url %>" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row type3" <% if(dataArr.type==3){ %> style="display: block" <% }else{ %> style="display: none" <% } %>>
                <div class="col-12">
                    <h5 style="color: red">*视频链接格式为：http://wx.dhbiji.com/file/laolehui/</h5>
                </div>
            </div>
            <!--<div class="form-row type3" <% if(dataArr.type==3){ %> style="margin-bottom: 15px;display: block" <% }else{ %> style="margin-bottom: 15px;display: none" <% } %>>-->
                <!--<div class="col-12">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">商品链接地址</span>-->
                        <!--</div>-->
                        <!--<input type="text" name="goods_url" placeholder="请输入商品链接地址" value="<%= dataArr.goods_url %>" class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </fieldset>
    </form>
</script>
<script data-main="/public/js/module/card/card"></script>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="/public/js/plugins/wangeditor/release/wangEditor.min.js"></script>
@@include('../../inc-footer.html')
<script type="text/javascript" src="/public/js/plugins/jquery-ui-1.10.4.min.js"></script>